{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "printWidth": 85,
    "experimentalTernaries": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always"
}